<!--Portfolio section-->
<section id="portfolio" class="tCenter ofsTop ofsBottom">

  <!--Container-->
  <div class="container clearfix">
    <h1 class="title">my portfolio</h1>
    <!--Filter nav-->
    <div class="filterNav">
      <ul class="filter" id="category">
        <li class="all current"><a href="#">All</a></li>
        <li class="catDev"><a href="#">Web Development</a></li>
        <li class="catDesign"><a href="#">Web Design</a></li>
        <li class="catWP"><a href="#">WordPress</a></li>
        <li class="catEcom"><a href="#">E-Commerce</a></li>
        <li class="catBrand"><a href="#">Branding/Logo Design</a></li>
      </ul>
    </div>
    <!--End filter nav-->
  </div>
  <!--End container-->
    
  <!-- Works list -->
  <div class=" works clearfix ">
    <!--Portfolio-->
    <ul class="portfolio clearfix">
      <% @portfolio.each do |project| %>  
        <li class="item" data-id="<%= project.data_id %>" data-type="<%= project.data_type %>">
          <div class="itemDesc">
            <div class="itemDescInner">
              <h3><%= project.name %><span><%= project.category %></span></h3>
              <div class="btn whtBtn">
                <a href="projects/<%= project.id %>" class="doubleRight">View Details</a>
              </div>
            </div>
          </div>
          <img src="<%= project.image_file %>" alt="">
        </li>
      <% end %>     
    </ul>
    <!--End portfolio-->
  </div>
  <!-- End works list -->
</section>
<!--End portfolio section-->