<div style="margin-top: 150px;">

  <h1>Listing projects</h1>

    <div>
      <ul>
        <% @projects.each do |project| %>
          <li><%= project.name %></li>
          <li><%= project.category %></li>
          <li><%= project.image_file %></li>
          <li><%= project.information %></li>
          <li><%= project.details %></li>
          <li><%= project.url %></li>
          <li><%= link_to 'Show', project %>, <%= link_to 'Edit', edit_project_path(project) %>, <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          <br />
        <% end %>
      </ul>
    </div>

  <br>

  <%= link_to 'New Project', new_project_path %>
</div>